
<div class="w-100 d-flex align-items-center justify-content-center" style="height: var(--fullscreenH);" >

<div class="container card">
  <h2 class="form-title">Login</h2>
  <div *ngIf="loginRequired" class="alert alert-warning text-center" role="alert">
    You must be logged in before using this feature
  </div>
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Test Account</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div>email: mdo@gmail.com</div>
      <div>password: mdo1233412mdo</div>
    </div>
  </div>
  <div *ngIf="loginStatus" class="alert alert-danger" role="alert">
    {{loginStatus.message}}
  </div>
  <form (submit)="login();$event.preventDefault()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input #email type="email" id="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input #password type="password" id="password" placeholder="Enter your password" required>
    </div>
    <button type="submit" class="btn mb-3">Login</button>
    <button type="submit" class="btn mb-3" (click)="auth0Login()">Login with Auth0</button>
    <p class="form-link">Don't have an account? <a routerLink="../signup">Register</a></p>
  </form>
</div>
</div>
