<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex" routerLink="/">
      <img src="favicon.ico" class="me-1" width="30" height="30">
      <span>
        {{appname}}
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <ng-template [ngTemplateOutlet]="content"></ng-template>
    </div>
  </div>
</nav>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">{{currentRoute}}</h5>
    <button type="button" class="btn-close pt-4 pe-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class=" navbar-nav mb-auto mb-lg-0">
      <li class="nav-item" *ngFor="let nav of navItems" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive">
        <a *ngIf="!nav.children" class="nav-link" (click)="offcanvas?.close()" aria-current="page" role="button" routerLinkActive="active" [routerLinkActiveOptions]="nav.routeparams??''" [routerLink]="nav.route"><span>
          <i class="fa-solid" [class]="nav.icon"></i> {{nav.name}}
        </span></a>
        <ng-template *ngIf="nav.children" [ngTemplateOutlet]="navItemStack" [ngTemplateOutletContext]="{nav:nav}"></ng-template>
      </li>
    </ul>
    <hr>
    <div class="navbar-right row g-0"style="align-items: center;">
      <div class="col-auto order-1">
        <a class="nav-link p-1" (click)="setDark(!getIsDarkThemed())"><i class="fa-solid fa-lg" [class]="getIsDarkThemed()?'fa-moon':'fa-sun'" [style.color]="getIsDarkThemed()?'#ffffff':'#ffcc33'" style="cursor: pointer;"></i></a>
      </div>
      <div  class="col-auto order-0 order-lg-2 ms-1">
        <div *ngIf="auth.currentUser as prof;else elseBlock" class="dropdown text-end" style="height: 32px;">
          <a routerLinkActive="router-link-active"  class="d-flex align-items-center text-decoration-none dropdown-toggle" style="cursor: pointer;color:var(--bs-heading-color);" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="prof.photoURL" alt="" width="32" height="32" class="rounded-circle ">
            <strong class="profile-name me-1">{{prof.username}}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end text-small" >
            <li><a class="dropdown-item" [routerLink]="profilePath">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
        <ng-template #elseBlock><button type="button" class="btn btn-outline-primary" routerLinkActive="d-none" routerLink="./auth/login">Login</button></ng-template>
      </div>

    </div>
  </div>


<ng-template #navItemStack let-nav="nav" let-drop="drop" let-child="child">
  <span [ngClass]="drop??'dropdown'" DropdownHover>
  <a class=" dropdown-toggle" [ngClass]="!(child)?'nav-link':'dropdown-item'" role="button" aria-current="page" [routerLink]="nav.route"><span>
    <i class="fa-solid" [class]="nav.icon"></i> {{nav.name}}
  </span></a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li *ngFor="let nav of nav.children">
    <a *ngIf="!nav.children" class="dropdown-item" (click)="offcanvas.dismiss('Save click')" aria-current="page" [routerLink]="nav.route"><span>
      <i class="fa-solid" [class]="nav.icon"></i>{{nav.name}}
    </span></a>
    <ng-template *ngIf="nav.children" [ngTemplateOutlet]="navItemStack" [ngTemplateOutletContext]="{nav:nav,drop:'dropstart',child:true}"></ng-template>
  </li>
</ul>
</span>
</ng-template>
</ng-template>
