.carousel-caption {
  right: 5%;
  left: 5%;
  top: 0%;
  bottom: 0%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-shadow: 1px 1px 3px black;
}
.carousel-control > * {
  width: 7%;
}
.carousel-picker > :active {
  background-color: #8d8c8c79;
}
.carousel-control-next {
  > span {
    filter: none !important;
  }
  background-image: linear-gradient(to left, black, transparent);
}
.controls {
  width: 70%;
  height: 8.0971659919028340080971659919028%; /* of figure's height */
  position: relative;
}
.carousel-control-prev {
  > span {
    filter: none !important;
  }
  background-image: linear-gradient(to right, black, transparent);
}
.carousel-indicators {
  --bs-card-border-radius: 5px;
  margin: 0px;
  min-width: 100%;
  align-items: center;
  position: unset;
  align-content: center;
  width: max-content;
  [data-bs-target] {
    height: 100px;
    align-items: center;
    border: inherit;
    box-sizing: inherit !important;
    background-color: unset;
    text-indent: unset;
    opacity: 1;
    transition: background-color 0.6s ease;
    margin-bottom: 0.5rem;
    padding: 3px;
    display: flex;
    width: unset;
    > img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
  * {
    border-radius: var(--bs-card-border-radius);
  }
  > .active {
    background-color: #8d8c8c79 !important;
  }
}
/* asd */
.about-game > * {
  margin-bottom: 0.7rem;
}
#desc-content *{
    max-width: 100%!important;
  }
 .game {
  display: grid;
  grid-template-areas:
    "game-content"
    "game-details"
    "game-about"
    "game-footer";
    grid-template-columns: 100%;
}
.game-details {
  grid-area: game-details;
}
// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 992px) {
  .game aside{
    float: right;
  }
   .game {
    display: grid;
    grid-template-areas:
      "game-content  game-details"
      "game-about  game-details"
      "game-about  game-details"
      "game-footer  game-footer";
      gap: 1rem;
    grid-template-columns: 75% 25%;
    grid-row: 1/3;
  }
}
.tags > .badge {
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
}
.text-price > .after{
    font-weight: 600;
    font-size: 1.3em;
    color: var(--bs-heading-color);
}
.details,.desc-content > *,
.game-details > .details > * {
  margin-bottom: 0.5rem;
  width: 100%;
}
.details{
  top:calc(var(--navbar-height) + 1rem);
}
.list-group > .list-group-item {
  padding: 0.7rem 0.4rem;
}
ngb-rating i {
  position: relative;
  display: inline-block;
  padding-right: 0.1rem;
  color: #8d8d8d;
}

ngb-rating .filled {
  color: var(--bs-light-text-emphasis);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
