<div class="container pt-5">
  <h1 class="mb-4" [innerText]="currentGame.title"></h1>
  <div class="game">
    <div class="game-content pb-5 pb-lg-0">
      <!-- data-bs-ride="carousel" -->
      <div id="gamesCarousel" class="carousel slide row carousel-fade mx-0 g-0" data-bs-ride="carousel">
        <div style="position: relative; --bs-card-border-radius: 20px;">
          <div class="carousel-inner" style="border-radius:20px;">
            <div *ngFor="let cover of currentGame.covers;let i = index" class="carousel-item"
              [ngClass]="{'active':i == 0}">
              <img [src]="cover" class="d-block w-100">
            </div>
            <div class="carousel-control">
              <button class="carousel-control-prev" type="button" data-bs-target="#gamesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#gamesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div style="overflow-x: auto;">
          <div class="carousel-indicators pe-3 py-3">
            <button *ngFor="let cover of currentGame.covers;let i = index" [class]="{'active':i == 0}"
              data-bs-target="#gamesCarousel" [attr.data-bs-slide-to]="i" [attr.aria-current]="i == 0">
              <img class="h-100" [src]="cover">
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="game-details">
      <div class="details sticky-top" >
        <img class="aspect-ratio-16x9 d-none d-lg-block" style="width: 100%; object-fit: contain;"
          [src]="currentGame.titleCover">
        <p class="text-price"><s>₱{{currentGame.previousPrice.toLocaleString('en-US')}}</s> <span
            class="after ps-1">FREE</span></p>
        <a class="btn p-3 btn-primary" [attr.href]="currentGame.link" target="_blank">Get Game</a>
        <button type="button" class="btn btn-outline-theme"><i class="fa-solid fa-plus"></i> Add to Wishlist</button>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between">
            <span style="font-weight: 600;" class="text-body-secondary">Ratings: </span>
            <span>
              <span class="text-light-emphasis pe-1">{{currentGame?.ratings??0}}</span>

              <ng-template #t let-fill="fill">
                <i class="fa-solid fa-star">
                  <i *ngIf="fill > 0" class="fa-solid fa-star filled" [style.width.%]="fill"></i>
                </i>
              </ng-template>

              <ngb-rating [rate]="currentGame?.ratings??0" [starTemplate]="t" [readonly]="true" [max]="5"
                [ariaValueText]="ariaValueText"></ngb-rating>
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span style="font-weight: 600;" class="text-body-secondary">Developer:</span>
            <span class="text-light-emphasis" [innerText]="currentGame.developer??'Unknown'"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span style="font-weight: 600;" class="text-body-secondary">Publisher:</span>
            <span class="text-light-emphasis" [innerText]="currentGame.publisher??'Unknown'"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span style="font-weight: 600;" class="text-body-secondary">Release Date:</span>
            <span class="text-light-emphasis">{{moment(currentGame.releaseDate).format('LL')}}</span>
          </li>
          <li class="list-group-item tags">
            <span *ngFor="let tag of currentGame.tags" class="badge bg-secondary">{{tag}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-game mb-5">
      <p class="short-description max-lines-3 text-light-emphasis" style="font-size: 1.2em;" [innerText]="currentGame.shortDesc">
      </p>
      <h4 class="mb-3">About Game</h4>
      <div class="desc-content" [innerHTML]="currentGame.description">
      </div>
    </div>
  </div>
  <div class="game-footer p-3" style="background-color: var(--bs-light-bg-subtle);">
    <h3 class="mb-3">System Requirments</h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>Recommended</h5>
        <ul class="list-group list-group-flush ">
          <li *ngFor="let spec of currentGame.specification.recommended" class="list-group-item list-group-item-light">
            <h5 [innerText]="spec.title"></h5>
            <span [innerText]="spec.content"></span>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h5>Minimum</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let spec of currentGame.specification.minimum" class="list-group-item list-group-item-light">
            <h5 [innerText]="spec.title"></h5>
            <span [innerText]="spec.content"></span>
          </li>
        </ul>
      </div>
      <div>
        <h5>Languages Supported</h5>
        <ul class="list-group list-group-flush">
          <ul class="list-group list-group-flush">
            <li *ngFor="let spec of currentGame.supportedLang" class="list-group-item list-group-item-light">
              <h5 [innerText]="spec.title"></h5>
              <span [innerText]="spec.content"></span>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
