<div class="container-lg my-5" *ngIf="auth.currentUser as currentAcc">
  <div class="row">
    <div class="col-lg-9 col-sm-12 ">
      <div class="my-2 bg-dark p-3 rounded-3">

        <div class="p-0" style="max-width: 1080px;">
          <div class="row g-0">
            <div class="col-md-3">
              <img [src]="currentAcc.photoURL" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-9">
              <div class="description p-2">
                <h5 class="title" id="name">{{currentAcc.username}}
                  <button type="button" id="editP" class="btn btn-dark border-secondary "
                    style="--bs-btn-padding-y: 0.2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .85rem;">
                    Edit
                  </button>
                </h5>
                <p class="text">{{profiledesc}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 p-3">
      <h5 class="">Recently Claimed</h5>
      <div class="row g-1 mb-3">
        <div class="col-2 col-lg-4" *ngFor="let item of recentylClaimed">
            <div  class="card">
              <img [src]="item.cover" class="card-img-top w-100" alt="...">
            </div>
          </div>
      </div>
      <div>
        <button class="btn btn-outline-secondary btn-lg w-100" type="button">See All</button>
      </div>
    </div>
  </div>

  <div class="row p-0">
    <div class="col-9 ">
      <h4>Achievements</h4>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-9 col-sm-12" *ngFor="let achievement of randomAcheivements">
      <div class="p-0  my-2">
        <div class="card achievement-item bg-dark " style="max-width: 1080px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="achievement.cover" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{achievement.title}}</h5>
                <p class="card-text">{{achievement.description}}</p>
                <div class="progress" role="progressbar" aria-label="Example with label"
                  [attr.aria-valuenow]="achievement.completion" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-info" [style]="{'width':achievement.completion+'%'}">
                    {{achievement.completion}}%</div>
                </div>
                <p>Completion</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
