<div class="container pt-5">
  <div class="mb-4" style="--bs-card-border-radius: 20px;">
    <!-- data-bs-ride="carousel" -->
    <div id="gamesCarousel" class="carousel slide row carousel-fade" style="display: flex;" data-bs-ride="carousel">
      <div class="col-12 col-xl-9" style="position: relative;">
        <div class="carousel-inner" style="border-radius:20px;">
          <div *ngFor="let item of spotlightItems;let i = index" class="carousel-item" [ngClass]="{active:i==0}">
            <img [src]="item.covers[0]" class="d-block w-100 aspect-ratio-16x9" alt="...">
            <div class="carousel-caption d-none d-md-block text-white">
              <h1>{{item.title}}</h1>
              <p class="max-lines-2 text-align-start">{{item.shortDesc}}</p>
              <a type="button" class="btn btn-secondary btn-lg" [routerLink]="['game',item.id]">Play Now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-indicators row pe-3 py-3 col-12 col-xl-3">
        <button *ngFor="let item of spotlightItems;let i = index" [ngClass]="{active:i==0}" class="col-12 col-md-6 col-xl-12" style="height: 100px;flex-direction: row;align-items: center;"
          data-bs-target="#gamesCarousel" [attr.data-bs-slide-to]="i">
          <img class="h-100 me-3" style="aspect-ratio: 16 / 9;object-fit: cover;"
          [src]="item.titleCover">
          <h6 class="text-start m-0 text-color-primary heading">{{item.title}}</h6>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="gamecat as games">
  <h2>Free Games Today</h2>
  <hr>
  <div class="platform-list mb-4">
    <h4>PC</h4>
    <div class="row g-2 ">
      <app-game-item *ngFor="let item of games[0]" [item]="item"
        class=" col-12 col-md-6 col-lg-4 col-xl-3 mb-1"></app-game-item>
    </div>
  </div>
  <div class="platform-list mb-4">
    <h4>Android</h4>
    <div class="row g-2 ">
      <app-game-item *ngFor="let item of games[1]" [item]="item"
        class=" col-12 col-md-6 col-lg-4 col-xl-3 mb-1"></app-game-item>
    </div>
  </div>
  <div class="platform-list mb-4">
    <h4>Console</h4>
    <div class="row g-2 ">
      <app-game-item *ngFor="let item of games[2]" [item]="item"
        class=" col-12 col-md-6 col-lg-4 col-xl-3 mb-1"></app-game-item>
    </div>
  </div>
</div>
</div>
